html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: hsla(207, 100%, 83%, 0.562);
    position: relative;
    padding: 10px;
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

.bg {
    height: 85vh;
    width: 580px;
}

.right-bg {
    background-image: linear-gradient(#30E3DF, #0081C9);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 0;
    left: -130px;
}

.left-bg {
    background-image: linear-gradient(#cee9ff, #29d5dc);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: absolute;
    top: 152px;
    right: -130px;
}

main {
    display: flex;
    align-items: center;
    gap: 140px;
    justify-content: center;
    position: relative;
    padding: 1% 12%;
    overflow: hidden;
}
.mobile-container {
    background-color:  #BDE4F4;
    border: 4px double #F0F0F0;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    width: 25vw;
    min-width: 350px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.mobile-sub-container {
    background-color: #e8f9ff;
    border-radius: 20px;
    height: auto;
    width: 25vw;
    min-width: 350px;
}

.header {
    background-color: #0081C9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px 20px;
}

.speaker-bar {
    height: 20px;
    width: 180px;
    background-image: linear-gradient(#0081c9, #0180c5);
    border-radius: 30px;
    position: absolute;
    top: 6px;
}

.header-profile, .profile-img-name {
    align-items: center;
    display: flex;
    gap: 15px;
    color: hsl(0, 0%, 100%);
}
 
.header-profile {
    justify-content: space-between;
    gap: 45px;

}
.header-profile img {
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
    height: 55px;
    width: 55px;
}

.arrow {
    font-size: 25px;
}

.profile-name {
    font-size: 19px;
}

.name2 {
    font-size: 14px; 
}

#profile-icon {
    font-size: 22px;
}

/* INNER CONTENT CONTAINER SECTION */
.inner-content {
    padding: 10px 18px;
}

.inner-content-text {
    border-radius: 5px;
    border-top-right-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #DAF5FF;
    color: hsl(271, 36%, 24%);
    font-size: 15px;
    padding: 15px;
    width: 230px;
}

.dog-img{
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-top: 40px;
}
.dog-img img {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

.replied {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0;
}
.replied-text {
    border-radius: 5px;
    border-top-left-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #c7f0ff;
    color: hsl(271, 36%, 24%);
    padding: 15px 15px 15px 20px;
    width: 230px; 
    font-size: 15px;
}

.replied-text2 {
    margin-top: 0;
    width: 135px; 
}

.walk-time {
    background-image: linear-gradient(#78d0ff, #94daff);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 230px; 
    padding: 0 18px;
    border-radius: 5px;
    border-top-right-radius: 30px;
    color: #700c0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 15px;
}

.time-icon {
    font-size: 14px;  
    padding-right: 4px;
}

.price {
    font-size: 19px;
    font-weight: 700;
}

.message-box {
    margin: 30px 0 20px 0;
    position: relative;
}

#message-input {
    background-color: rgb(247, 255, 255);
    border: 2px double white;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 18px;
    width: 90%;
    font-size: 15px;  
}
#message-input:focus,
:active {
    outline: none;
}

#right-arrow {
    background-image: linear-gradient(#0081C9, #94daff);
    color: rgb(247, 255, 255);
    border-radius: 50%;
    padding: 14px 18px;
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 4px;
}

/* INTRO CONTENT */
.intro-content {
    width: 29vw;
    min-width: 350px;
}

.intro-content h1 {
    color: #032a3f;
    font-size: 40px;
    font-weight: 500;
}

.intro-content p {  
    color: #032a3f;
    font-size: 20px;
    line-height: 30px;
}


@media only screen and (max-width: 1375px) {
    main {
        gap: 100px;
        padding: 1.4% 4%;
    }

    .bg {
        height: 85vh;
        width: 520px;
    }
    
  } 
@media only screen and (max-width: 1268px) {
    main {
        gap: 80px;
        padding: 1.4% 2%;
        overflow: visible;
    }
    .bg {
        height: 85vh;
        width: 480px;
    }

    .left-bg {
        width: 400px;
    }
    
  } 
@media only screen and (max-width: 1020px) {
    body{
        overflow: visible;
        padding: 0 40px;
    }
    main {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 20px;
    }

    /* .mobile-container {
        width: 30px;    
    }

    .mobile-sub-container {
        width: 348px;
    } */

    .left-bg {
        display: none;
    }

    .intro-content {
       text-align: center;
       padding: 0 20px;
    }
    
    
  } 